

body {
  padding: 0;
}

.aria-hidden{
  width: 40px !important;
  height: 40px !important;
  display: block;
  background: #fff;
  border-radius: 10px;
  color: black;
  font-weight: 800;
  vertical-align: middle;
  display: table-cell;
  -webkit-box-shadow: -2px 4px 18px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 4px 18px 3px rgba(0,0,0,0.75);
  box-shadow: -2px 4px 18px 3px rgba(0,0,0,0.75);
}
.thead-inverse > tr > th{
	text-align: center;
}
.table>tbody>tr>td{
    vertical-align: middle;
}
tr:hover{
	background-color:  rgb(35, 186, 181);
	color: black;
}
.thead-inverse{
	background-color:  rgb(35, 186, 181)!important;
	border-radius: 20px;
}
.center-text{
	text-align: center;
	margin: 0px auto;
}
.factura > table{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.factura > table,.factura > td,.factura > th {
	text-align: center !important;
	border-collapse: collapse;
	border: 1px solid black;
}
.factura > h1,h5,h6{
	margin: 0px auto;
}
.none-margin{
	margin: 0px!important;
}
.none-padding{
	padding: 0px!important;
}
.form-control{
	margin: 0px!important;
	padding: 0px !important;

}
.input-group-addon,.input-group{
	margin: 0px!important;
	
	margin-bottom: 10px!important;
}
.input-group-addon{
	background-color: #23BAB5;
	color: #fff;
	font-weight: 700;
}
.top{
	margin-bottom: 20px !important;
}
.form-group{
	width: 100%!important;
}
.input-group[class*=col-] {
	float: left;
}
@media (min-width: 768px){
	.form-inline .input-group .input-group-addon {
	    width: 100px;
	}
}
