<div >
  <h3 class="">Facturas</h3>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <button type="button" class="btn btn-default col-md-2 col-lg-2 right margin-10" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> Nueva Factura</button>
    </div>
  </div>
  <div uib-collapse="isCollapsed">
    <form class="form-inline">
      <div class="form-group">
       <div ng-include src="'views/factura.html'"></div>
      </div>
    </form>
  </div>

  <div ng-show="isCollapsed">
    <div class="col-md-10 col-lg-10 col-xs-12 col-md-offset-1 col-lg-offset-1 ">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search fa-lg"></i></span>
            <input ng-model="search" class="form-control col-md-11 col-lg-11 col-xs-11" type="text" placeholder="Buscar factura">
          </div>
      <div class="table table-responsive">
        <table class="table stacktable">
            <thead class="thead-inverse">
            <tr>
              <th >#</th>
              <th >Cedula</th>
              <th >Cliente</th>
              <th >Celular</th>
              <th >Fecha</th>
              <th >Ver</th>
            </tr>
          </thead>
          <tbody ng-repeat="factura in fact | filter:search">
            <tr>
              <td>{{factura.id}}</td>
              <td>{{factura.cedula}}</td>
              <td>{{factura.cliente}}</td>
              <td>{{factura.cel}}</td>
              <td>{{factura.fecha}}</td>
              <td><button type="button" class="btn btn info" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="abrir(factura)" ><i class="fa fa-arrows-alt" aria-hidden="true"></i> Ver Factura</button></td>
            </tr>
          </tbody>
        </table>
        
     </div>
    </div>
   </div>
  </div>



<!-- START MODAL FACTURA -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="clear()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Factura</h4>
      </div>
      <div class="modal-body">
      <!-- Open modal body -->
           <div class="col-xs-12 col-sm-12 col-lg-12 top">
                <div class="col-xs-8 col-sm-8 col-lg-8 center-text">
                  <h1>SERVI CELL FAST, F-P</h1>
                  <h6>LUIS EDUARDO TERAN ESCALANTE</h6>
                  <h6>RIF: V-2016129-0</h6>
                  <h5>Urb. La Granja Centro Comercial Free Market,</h5>
                  <h5>Nivel PB Local Mini Tienda Nº Q02 Modulo 16 (M16-P.B.)</h5>
                  <h5>Tlf: (0424) 433.82.91 Naguangua Edo.Carabobo</h5>
                </div>
                <div class="col-xs-2 col-sm-2 col-lg-2 center-text">
                  <div class="row">
                    <table>
                      <tbody >
                        <tr>
                          <th>Fecha</th>
                        </tr>
                        <tr>
                          <td><input value="{{modal.fecha}}" class="col-xs-12 col-sm-12 col-lg-12" readonly type="text" name="dia" disabled></td>
                        </tr>
                        <tr >
                          <th colspan="3">ORDEN DE REPARACION</th>
                        </tr>
                        <tr >
                          <td colspan="3"><input value="{{modal.id}}" class="col-xs-12 col-sm-12 col-lg-12" readonly type="text" name="año" disabled></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="box">
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <label for="Cliente-label" id="Cliente-label" class="Cliente col-xs-2 col-sm-2 col-lg-2  no-mp">Cliente:</label>
                <input value="{{modal.cliente}}" type="text" id="Cliente" name="Cliente" class="col-xs-10 col-sm-10 col-lg-10  no-mp" disabled>
              </div>
              <div class="col-xs-2 col-sm-2 col-lg-2">
                <label for="CI-label" id="CI-label" class="col-xs-2 col-sm-2 col-lg-2 no-mp">C.I:</label>
                <input value="{{modal.ci}}" type="text" id="CI" name="CI" class="col-xs-10 col-sm-10 col-lg-10 no-mp" disabled>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <label for="Telfono-label" id="Telfono-label" class="col-xs-2 col-sm-2 col-lg-2 no-mp">Telefono:</label>
                <input value="{{modal.tlf}}" type="text" id="Telfono" name="Telefono" class="col-xs-10 col-sm-10 col-lg-10 no-mp" disabled>
              </div>
              <div class="col-xs-2 col-sm-2 col-lg-2">
                <label for="Cel-label" id="Cel-label" class="col-xs-2 col-sm-2 col-lg-2 no-mp">Cel:</label>
                <input value="{{modal.cel}}" type="text" id="Cel" name="" class="col-xs-10 col-sm-10 col-lg-10 no-mp" disabled>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <label for="Equipo-label" id="Equipo-label" class="col-xs-1 col-sm-1 col-lg-1 no-mp">Equipo:</label>
                <input value="{{modal.equipo}}" type="text" id="Equipo" name="Equipo" class="col-xs-11 col-sm-11 col-lg-11 no-mp" disabled>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <label for="Otro-A-label" id="Otro-A-label" class="col-xs-3 col-sm-3 col-lg-3 no-mp">Otro:</label>
                <input value="{{modal.otro}}" type="text" id="Otro-A" name="Otro-A" class="col-xs-8 col-sm-8 col-lg-8 no-mp" disabled>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <label for="Modelo-label" id="Modelo-label" class="col-xs-3 col-sm-3 col-lg-3 no-mp">Modelo:</label>
                <input value="{{modal.modelo}}" type="text" id="Modelo" name="Modelo" class="col-xs-10 col-sm-8 col-lg-8 no-mp" disabled>
              </div>
              <div class="col-xs-4 col-sm-4 col-lg-4">
                <label for="Serial-label" id="Serial-label" class="col-xs-3 col-sm-3 col-lg-3 no-mp">Serial:</label>
                <input value="{{modal.serial}}" type="text" id="Serial" name="Serial" class="col-xs-8 col-sm-8 col-lg-8 no-mp" disabled>
              </div>
            <!-- BATERIA, MODELO, TAPA, RECLAMO GATANTIA -->
              <div class="col-xs-3 col-sm-3 col-lg-3">
                <label for="Bateria-label" id="Bateria-label" class="col-xs-3 col-sm-3 col-lg-3 no-mp">Batería:</label>
                <div class="col-xs-9 col-sm-9 col-lg-9 no-mp">
                    <div class="col-xs-3 col-sm-3 col-lg-3">
                      <input value="{{modal.bateria}}">
                    </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-3">
                <label for="Sim-label" id="Sim-label" class="col-xs-3 col-sm-3 col-lg-3 no-mp">Sim:</label>
                <div class="col-xs-9 col-sm-9 col-lg-9 no-mp">
                    <div class="col-xs-3 col-sm-3 col-lg-3">
                    <input value="{{modal.sim}}">
                    </div>
                </div>        
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-3">
                <label for="Tapa-label" id="Tapa-label" class="col-xs-2 col-sm-2 col-lg-2 no-mp">Tapa:</label>
                <div class="col-xs-6 col-sm-6 col-lg-6 no-mp">
                    <div class="col-xs-1 col-sm-1 col-lg-1">
                    <input   value="{{modal.tapa}}">
                    </div>
                </div>        
              </div>
              <div class="col-xs-3 col-sm-3 col-lg-3">
                <label for="ReclamaGatantia-label" id="ReclamaGatantia-label" class="col-xs-2 col-sm-2 col-lg-2 no-mp">Reclama gatantía:</label>
                    <div class="col-xs-1 col-sm-1 col-lg-1">
                    <input value="{{modal.bateria}}">
                    </div>
             
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <label for="Otros-label" id="Otros-label" class="col-xs-1 col-sm-1 col-lg-1 no-mp">Otros:</label>
                <input value="{{modal.otros}}" type="text" id="Otros" name="Otros" class="col-xs-11 col-sm-11 col-lg-11 no-mp">
              </div> 
              <!-- FALLA DE EL EQUIPO: NO INICIA, NO TRANSMITE; AUDIO, SE APAGA, SEÑAL -->
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <label for="Falla-Equipo-No-Inicia-label" id="Falla-Equipo-No-Inicia-label" class="col-xs-2 col-sm-2 col-lg-2 no-mp">Falla de el Equipo:</label>
                <div class="col-xs-10 col-sm-10 col-lg-10">
                     <input class="col-xs-12 col-sm-12 col-lg-12" value="{{modal.fallaequipo}}">
                </div>
              </div> 
              <!-- OTROS: -->
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <label for="Otro-B-label" id="Otro-B-label" class="col-xs-3 col-sm-3 col-lg-3 no-mp">Otro: Descripcion de la falla:</label>
                <input value="{{modal.otros}}" type="text" id="Otro-B" name="Otro-B" class="col-xs-6 col-sm-6 col-lg-6 no-mp">
                  <div class="col-xs-3 col-sm-3 col-lg-3">
                    <input value="{{modal.fallaestatus}}" class="col-xs-12 col-sm-12 col-lg-12 ">
                  </div>
              </div> 
              <!-- INTERMINENTE, PERMANENTE, ESTADP DE LA CARCASA Y/O PANTALLA, ROTA, REGULAR, RAYADA, BUENA -->
              <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="col-xs-2 col-sm-2 col-lg-4 no-mp">
                    <label>Estado de la Carcasa:</label>
                </div>          
                <div class="col-xs-2 col-sm-2 col-lg-2   no-mp">
                  <input value="{{modal.carcasaestatus}}">
                </div>
                <div class="col-xs-2 col-sm-2 col-lg-4 no-mp">
                    <label>Estado de la Pantalla:</label>
                </div>          
                <div class="col-xs-2 col-sm-2 col-lg-2   no-mp">
                  <input value="{{modal.pantallaestatus}}"> 
                     
                </div>        
              </div>  
              <div class="col-xs-12 col-sm-12 col-lg-12">
                
                <div class="col-xs-3 col-sm-3 col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon">Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input value="{{modal.total}}" type="text" id="Total" class="form-control" placeholder="">
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Abono:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input value="{{modal.abono}}" type="text" id="Abono" class="form-control" placeholder="">
                  </div>
                  <div class="input-group">
                    <span type="number" min="0" class="input-group-addon">Resta:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" name="resta" class="form-control" value="{{modal.resta}}" placeholder="">
                  </div>  
                </div>  
              </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" ng-click="clear()" data-dismiss="modal">Cerrar</button>
             </div>
      <!-- cierrre modal Body-->
      </div>
        </div>
    </div>
  </div>

<!-- END MODAL FACTURA -->
