<div >
  <div class="row">
      <div class="col-md-12 col-lg-12">
        <button type="button" class="btn btn-default col-md-2 col-lg-2" ng-click="isCollapsed = !isCollapsed"><span class="glyphicon glyphicon-plus-sign"></span> Nuevo un producto</button>
      </div>
    </div>
  <div uib-collapse="isCollapsed">
    <div class="well well-lg">
      Nombre:<input ng-model="nuevo.name" type="text">Cantidad:<input ng-model="nuevo.mount" type="text"> <button ng-click="add(nuevo)" class="btn btn info">Agregar</button>
    </div>
  </div>
  <div class="col-md-10 col-lg-10 col-xs-10 col-md-offset-1 col-lg-offset-1 col-xs-offset-1">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="input-group">
          <span class="glyphicon glyphicon-zoom-in input-group-addon"></span>
          <input ng-model="search" class="form-control col-md-11 col-lg-11 col-xs-11" type="text" placeholder="Buscar factura">
        </div>
    </div>
    <div class="table-responsive col-md-12 col-lg-12 col-xs-12">
        <table class="table">
        <tr>
          <th >Articulo</th>
          <th >Cantidad</th>
          <th >Ingrese la cantidad a modificar</th>
          <th >Accciones</th>
        </tr>
        <tbody  ng-repeat="item in items | filter:search">
          <tr>
            <td class="col-sm-2 col-md-2 col-lg-2">{{item.name}}</td>
            <td class="col-sm-2 col-md-2 col-lg-2"><input  type="text" value="{{item.mount}}" disabled></td>
            <td class="col-sm-4 col-md-4 col-lg-4"><input  ng-model="modal.change" type="text"></td>
            <td class="col-sm-4 col-md-4 col-lg-4">        
                <button  class="btn btn info" ng-click="sum(item,modal)">Adicionar</button>
                <button class="btn btn info" ng-click="rest(item,modal)">Descontar</button>
                <button class="btn btn info" ng-click="delete(item,$index)">Eliminar</button>
            </td>
          </tr>
        </tbody>
        </table>
   </div>
</div>
