<div >
<div class="row">
<input ng-model="search" class="col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2" type="text" placeholder="Buscar">
</div>

  <div ng-repeat="item in items | filter:search">
      
      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
        <strong  >Articulo:</strong> {{item.name}}
        </div>

        <strong class="col-sm-3 col-md-1 col-lg-1">Cantidad:</strong><input  class="col-md-1 col-lg-1" type="text" value="{{item.mount}}" disabled>


        <strong class="col-md-2 col-lg-2" >CantidadModificar</strong><input  class="col-md-1 col-lg-1"  ng-model="modal.change" type="text" required>

        <div class="col-sm-3 col-md-1 col-lg-1">
        <button class="btn btn info" ng-click="rest(item,modal)">Vender</button>
        </div>
      </div>


  </div>
</div>
